body{
  width:70%;
  background-image:url(pix/background.png);
  background-repeat:repeat-y;
  margin: 0 auto;
  box-shadow: 2px 2px 5px #555;
  box-shadow: 0px -2px 5px #555;
}

html{
  background-color: #737ca1;
}

#nav{
  background-color: rgb(184,174,157,.5);
	display:inline-block;
  list-style-type:none;
  float:right;
  margin-right: 30px;
  margin-top: 40px;
  font-family: 'Rochester', 'Lucida Handwriting', cursive;
  font-size: 2em;
}

#nav li{
  display:inline;
  color:#800a4d;
  text-shadow: 2px 2px 3px #e2bbbe;
  padding-right: 25px;
  padding-bottom:30px;
}

#nav li:hover{
  color: #d7c250;
  text-shadow: 1px 1px 3px #7b0046;
}

header{
  background-color: rgba(184,174,157,.3);
  border-bottom: 5px double #7b0046;
}

#pixel{
  margin:0 auto;
  position:center;
}

.uptop{
  display:block;
  background-color: rgba(255,255,255,.5);
  width: 250px;
  text-align:center;
}

/**#tocenter{
  width: 250px;
  text-align:center;
}**/

.first{
  margin-top: 50px;
  margin-bottom: 70px;
  text-align:center;
}

.school{
  background-color: rgba(184,174,157,.3);
  margin: 0 auto;
  padding: 30px 50px 50px 50px;
}

.school img{
  width:100%;
}

.play{
  background-color: rgba(184,174,157,.3);
  padding: 30px 30px 50px 50px;
  display: inline-block;
}

.work{
  padding: 30px 30px 50px 50px;
}

h1{
  text-align: center;
  color: #540331;
  font-family: 'David Libre', Georgia, serif;
  font-size: 2em;
}

p{
  font-family: 'David Libre', Georgia, serif;
  color: #592e45;
  font-size: 1.2em;
}

.minibio{
  list-style-type:none;
  color: #592e45;
  display:block;
  font-family: 'David Libre', Georgia, serif;
  font-size: 1.5em;
}


.minibio li{
  margin: 0 auto;
  width: 215px;
  text-align:left;
}

.minibio img{
  width: 30px;
}

.logo{
  margin-left: 30px;
}

a{
  text-decoration:none;
  color: #c20b73;
}

#cats{
  float: right;
  padding: 20px;
  padding-right: 30px;
  padding-left: 50px;
  width:45%;
}

footer{
  background-color: rgba(94,50,75, .6);
  text-align:center;
  padding: 1px;
  font-size: .8em;
}

footer p{
  color: #e4e1dd;
  font-family: 'Rochester', 'Lucida Handwriting', cursive;
}

#lower{
  padding-top: 20px;
}

.social{
  /**background-color: rgba(115,124,161,.8);**/
  width: 225px;
  margin: 0 auto;
}
